<h2>O NAS</h2>

<p>Witamy na naszej stronie !</p>

<p>Poczatek naszej dzialanosci datujemy na 1985 rok, kiedy to bylismy jedna z pierwszych firm specjalizujaca sie w reklamie na pojazdach typu: tramwaje, autokary itp. Od 1992 poszerzamy swoj park maszynowy, o coraz to nowe plotery. Specjalizujemy sie w reklamie oraz komunikacji wizualnej. Tworzymy wizerunek firmy od logo po aplikacje na roznych nosnikach. Nasze wieloletnie doswiadczenie umozliwia nam podejmowanie sie takze nietypowych wyzwan.</p>