<h2>O NAS</h2>

<p>Witamy na naszej stronie !</p>

<p>Początek naszej działaności datujemy na 1985 rok, kiedy to byliśmy jedną z pierwszych firm specjalizującą się w reklamie na pojazdach typu: tramwaje, autokary itp. Od 1992 poszerzamy swój park maszynowy o coraz to nowe plotery. Specjalizujemy sie w reklamie oraz komunikacji wizualnej. Tworzymy wizerunek firmy od logo po aplikacje na różnych nośnikach. Nasze wieloletnie doświadczenie umożliwia nam podejmowanie się także nietypowych wyzwań.</p>