<h2>KONTAKT</h2>

<p><i class="fas fa-briefcase"></i>Naddnieprzaśska 23, 04-205 Warszawa</p>
<p><i class="fas fa-mobile-alt"></i>501 162 200</p>
<p><i class="fas fa-phone-square-alt"></i>(22) 612 08 38</p>
<p><i class="fas fa-envelope"></i>szyldy-reklamy@o2.pl</p>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_API_KEY'] %>
    &q=Szyldy-Reklamy,Warszawa,Naddnieprzanska" allowfullscreen>
</iframe>