<header>
    <ul class="links">
      <li><%= link_to "o nas", o_nas_path %></li>
      <li><%= link_to "oferta", oferta_path %></li>
      <li><%= link_to "nasi klienci", nasi_klienci_path %></li>
      <li><%= link_to "kontakt", kontakt_path %></li>
    </ul>
    <h1 class="main-logo">Szyldy Reklamy</h1>

    <div class="contact-info">
      <p>od poniedzialku do piatku, 8-16</p>
      <p>email: szyldy-reklamy@o2.pl</p>
    </div>

    <div class="list-of-services">samochody, plansze, witryny, projekty</div>

</header>