// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
  width: 100%;
}

.back-link {
  justify-content: center;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}